html{
	width: 100%;
	height: 100%;
}

body{
	background-image: url("../images/tweed.png");
	height = 100%;
	text-align: center;
}

.ubuntu_font{
	font-family: 'Ubuntu', serif;
	font-size: 28px;
    text-decoration: none;
	color: white;
}


#pagetop{
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height: 120px;
	background-image: url("../images/escheresque_ste.png");
        position; absolute;
        z-index: 100;
	font-size: 23px;
	padding-top: 50px;
	transition: height 0.3s linear 0s, padding 0.3s linear 0s;
	overflow:hidden;
}
#pagetop > #thought_menu{
	position: absolute;
	bottom: 0px;
	width:100%;
	background: #000000;
	height: 55px;
	transition: height 0.3s linear 0s;
}

#pagetop #social_id{
	float: right;
	width: auto;
	/* top (left,right) bottom */
	margin: 4px 15px 0px;			/* Depends on the size of the social icons */
	padding: 0px;
	overflow: hidden;
}

/* Individual social icon */
#pagetop #social_id li{
	margin-right: 12px;
	float: left;
	padding: 0px;
	/* No bullet points (again) */
	list-style: none;
}

/* Individual social icon (on hover) */
#pagetop #social_id li:hover{
	margin-top: 3px;
}


/*Class Grow*/
.grow {
display: inline-block;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/*Grow Hover Code*/
.grow:hover, .grow:focus, .grow:active {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
/*Class Glow*/
.glow {
display: inline-block;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
-webkit-transform: translateZ(0);
transform: translateZ(0);
}
/*Glow Hover Code*/
.glow:hover, .glow:focus, .glow:active {
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}




