html{
	width: 100%;
	height: 100%;
}

body{
	background-image: url("../images/nice_snow.png");
	height = 100%;
	text-align: center;
}

.ubuntu_font{
	font-family: 'Ubuntu', serif;
	font-size: 28px;
    text-decoration: none;
	color: white;
}

#thought{
	text-align: center;
	padding-top: 10px;
}

#pagetop{
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height: 80px;
	background-image: url("../images/retina_wood.png");
        position; absolute;
        z-index: 100;
	font-size: 23px;
	padding-top: 8px;
	padding-bottom: 50px;
	transition: height 0.3s linear 0s, padding 0.3s linear 0s;
	overflow:hidden;
}
#pagetop > #thought_menu{
	position: absolute;
	bottom: 0px;
	width:100%;
	background: #000000;
	height: 60px;
	transition: height 0.3s linear 0s;
}

#pagetop #social_id{
	float: right;
	width: auto;
	/* top (left,right) bottom */
	margin: 4px 15px 0px;			/* Depends on the size of the social icons */
	padding: 0px;
	overflow: hidden;
}

/* Individual social icon */
#pagetop #social_id li{
	margin-right: 12px;
	float: left;
	padding: 0px;
	/* No bullet points (again) */
	list-style: none;
}

#side_menu_top{
	z-index: 1000;
	margin-top: -130px;
	position: fixed;
	text-align: left;
	padding-left: 20px;
	padding-top: 8px;
	cursor: pointer;
	background-image: url("../images/triangular.png");
	width: 224px;
	height: 27px;
	border: solid 3px black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

#side_menu{
	z-index: 1000;
	margin-top: -89px;
	margin-left: 0px;
	width: 250px;
	height: 480px;
	position: fixed;
	float: left;
	background-image: url("../images/tweed.png");
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#side_menu #menu{
	text-align: center;
	margin-top: -89px;
	left: 50%;
	width: auto;
	margin-top: 10px;
	margin-bottom: 20px;		
	padding: 0px;
	overflow: hidden;
}

#side_menu #menu li{
	margin-top: 20px;
	margin-right: 0px;
	padding: 0px;
	padding-top: 3px;
	padding-right: 10px;
	padding-left: 10px;
	border-top: solid 4px black;
	padding-bottom: 0px;
	border-color: #4099FF;
	border-radius: 12px;

	transition: margin-top 0.2s linear 0s, padding 0.1s linear 0s;

	/* No bullet points (again) */
	list-style: none;
}

#homepage_image{

}

#welcome{
	font-family: 'Ubuntu', serif;
    font-size: 48px;
	color: rgba(0,0,0,1);
}

#homepage_content{
	padding-top: 50px;
	margin-top: 140px;
	text-align: center;
	font-family: 'Ubuntu', serif;
	font-size: 28px;
    text-decoration: none;
	color: black;
}

 #left-container{
	display: block-inline;
	position: relative;
	margin-top: 0px;
	margin-left: 10px;
	float: left;
	width: 64%;
 }

 #right-container{
 	display: block-inline;
 	margin-right: 10px;
	position: relative;
	width: 30%;
	float: right;
	margin-top: 0px;
 }

/*Class Grow*/
.grow {
display: inline-block;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/*Grow Hover Code*/
.grow:hover, .grow:focus, .grow:active {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
/*Class Glow*/
.glow {
display: inline-block;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-property: box-shadow;
transition-property: box-shadow;
-webkit-transform: translateZ(0);
transform: translateZ(0);
}
/*Glow Hover Code*/
.glow:hover, .glow:focus, .glow:active {
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

