@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.name {
  display: flex;
  padding: 0em 1em;
  height: fit-content;
}

.name-icon {
  color: #8e9092;
  font-size: 4em;
  font-weight: 700;
  width: fit-content;
  font-family: 'Lobster', cursive;
}

.name-title {
  display: flex;
  color: #8e9092;
  align-items: center;
  margin-left: 0.5em;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.25em;
}
