.tab-container {
  width: fit-content;
  padding: 1em;
  margin-left: 4em;
  display: flex;
  height: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.tab-container .tab {
  margin: 0em 1em;
  font-size: 1.2em;
  cursor: pointer;
}