.body {
  background-color: #322e49;
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.textArea {
  width: 50vw;
  padding: 1em;
  margin-left: 3em;
}

.textArea h1 {
  color: #dc2c2c;
  font-family: 'Helvetica Neue', sans-serif; font-size: 275px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0em;
  margin-top: 0.5em;
  text-align: center;
}

.textArea h2 {
  color: #b4b4b4;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;;
  font-weight: 300;
  line-height: 2em;;
  text-align: center;
}

.textArea p {
  color: #c0bdbd;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.link {
  color: #1570A6;
  text-decoration: none;
}

.link:hover {
  color: #0a97e9;
}

.socialPanel-container {
  margin-top: 5em;
  margin-right: 2em;
  margin-bottom: 5em;
}
