.nameSection {
  width: 20%;
  min-width: 15em;
  height: auto;
  padding: 1em;
}

.nameSection-name {
  color: black;
  font-weight: 700;
  font-size: 1.75em;
}

.nameSection-tag {
  font-size: 1em;
  color: #5f5b5b;
}