@import url('https://fonts.googleapis.com/css?family=Heebo:700&display=swap');

.jumbo-name {
  width: fit-content;
  font-family: 'Heebo', sans-serif;
  font-size: 12.5em;
  font-weight: 900;
  padding: 0.2em;
}

.jumbo-first-name {
  color: white;
}

.jumbo-last-name {
  color: #6a7bd8;
  margin-top: -0.5em;
}