@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.splash {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.splash-hello-container {
  margin-top: 15em;
  margin-right: 25em;
}

.splash-hello {
  color: #ffffff;
  font-size: 8em;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.splash-secondary-container {
  display: flex;
  margin-top: -1em;
}

.splash-quote {
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.10em;
}

.splash-hr {
  width: 4em;
  height: 0.005em;
  color: #ffffff;
}