@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light text-foreground-light dark:bg-background-dark dark:text-foreground-dark;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-text-reveal {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 1.5s steps(20, end) forwards;
}

@keyframes shine {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
